.greetingsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  margin-top: 20px;
}

.gretingsRight {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.gretingsRight > h3 {
  color: #101828;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
}

.gretingsRight > p {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.greetinsBTN {
  background-color: #3f5bf6;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}
